<% include _header %>
<div class="">
    <h1 class="text-center">Blog de Gears Of War</h1>
    <br>
    <h2 class="text-center">¿Quien que calculemos tu edad hasta la  fecha actual?</h2>
    <p class="text-center">Ingresa los siguientes datos:</p>
    <form action="/searchdate" method="post">
        <div class="form-group row">
            <label class="col-md-6 text-right">Ingresa tu año de nacimiento:</label> 
            <div class="col-md-3">
                <input id="date" name="date" type="date" class="form-control" required/>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-2">
        <input id="dato" type="submit" value="Calcular" class="btn btn-primary btn-block"/>
        </div>
    </div>
    </form>
    
    <p class="text-center">Usted tiene: <%= date %> años</p>
    <br>
    <h2 class="text-center">¿Quien eres tu?</h2>
    <div class="row"> 
        <div class="col-md-6 text-center" style="color:blue">
            <h3>CGO</h3>
            <img src="https://vignette.wikia.nocookie.net/gearsofwar/images/1/19/319px-Gears_of_War_3_Personajes_COG_Cole_Train.png/revision/latest?cb=20110624215629&path-prefix=es">
        </div>
        <div class="col-md-6 text-center" style="color:red">
            <h3>LOCUST</h3>
            <img src="https://vignette.wikia.nocookie.net/gearsofwar/images/3/37/Spotter_pose.png/revision/latest?cb=20140319225327&path-prefix=es" width="319" height="599">
        </div>
    </div>
    
    <h4 class="text-center">¡REGISTRATE!</h4>
    <!--<script src="moment.js"></script>-->
   <!-- <script src="https://momentjs.com/downloads/moment.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            var hola = "#date"
            var nacimiento=moment(0);
            var hoy = moment();
            var anios = hoy.diff(nacimiento,"years");
            $("#res").text(anios);
        });
    </script>
<% include _footer %>